{% macro left_menu(server_list, server) %}
        <div id=menu>
            <div id=selectserver>
                <b>Servers :</b><br />
                <ul>
                    {% for srv in server_list %}
                        {% if srv == server %}
                            <b>
                        {% endif %}
                        <li><a href=http://load-monitor/ServerSelect/{{ srv }}>{{ srv }}</a>
                            {% if server_list[srv] == 'true' %}*{% endif %}
                        </li>
                        {% if srv == server %}
                            </b>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id=actions>
                <b>Actions :</b><br />
                <ul>
                    <li><a href="{{ url_for('add_server') }}">Add a server</a></li>
                    <li><a href="{{ url_for('launch_test') }}">Launch a test</a></li>
                    {% if server_list[server] == 'true' %}
                        <li><a href="{{ url_for('stop_test', servername=server) }}">Stop the test</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
{% endmacro %}
